.blacknavbar {
    background-color:black;
}
.mylogo {
    color:goldenrod;
    font-weight: bold;
    font-size:20px;
    padding:10px;
}
.mynavlinks {
    color:white;
    padding:20px;
    font-size:17px;
}
a.mynavlinks:hover {
    color:gold;
    text-decoration: none;
}
a.mylogo:hover {
    color:gold;
    text-decoration: none;
}
.darkjumbo {
    background:url(http://wallpapercave.com/wp/lWS9r8c.jpg);
    background-position: center;
}